@page
@model IndexModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Index"];
}

<div class="container">

    <div class="title">@ViewData["Title"]</div>
    <br />
    <span class="message">@ViewData["Message"]</span>

    <fieldset>
        <legend>@localizer["Title"]</legend>
        Add index content here
    </fieldset>
</div>

    @section scripts{
        <partial name="_ValidationScriptsPartial" />
    }
