@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model PrivacyModel
@{
    ViewData["Title"] = localizer["Privacy Policy"];
}

<div class="container">

    <div class="title">@ViewData["Title"]</div>
    <br />

    <div class="container">
        @localizer["Use this page to detail your site's privacy policy"]
    </div>

</div>
