@inject Smeat.Leader.Web.Services.CommonLocalizationService localizer
@inject UserManager<Smeat.Leader.Infrastructure.Identity.LeaderUser> userManager
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smeat</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/navBar.js" defer></script>
</head>
<body>
    <header role="navigation">
        <partial name="_NavBarPartial" />
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    @*<footer class="footer">
        <a class="navbar-link" href="mailto:peter_jones_glass@hotmail.com?subject=Website Enquiry">
            &copy; 2021 - @localizer.Get("Powered by") Smeat
        </a>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
