@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Smeat.Leader.Web.Areas.Identity.Pages.Secured.ProfileModel
@{
    ViewData["Title"] = localizer["Profile"];
}

<div class="container">

    <div class="title">@ViewData["Title"]</div>
    <br />
    <span class="message">@ViewData["Message"]</span>

    <form method="post">
        <fieldset>
            <legend>@localizer["Edit your profile"]</legend>
            <hr />
            <div asp-validation-summary="All" class="error-summary"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" readonly />
                <span asp-validation-for="Input.Email" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="error"></span>
            </div>
            <button type="submit" class="btn">@localizer["Save"]</button>
        </fieldset>
    </form>
</div>
