@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AccessDeniedModel
@{
    ViewData["Title"] = localizer["Access denied"];
}

<div class="container">
    <fieldset>
        <h1 class="error">@ViewData["Title"]</h1>
        <p class="error">@localizer["You do not have access to this resource"].</p>
    </fieldset>
</div>
