@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Smeat.Leader.Web.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = localizer["Confirm email"];
}

<div class="container">
    <div class="title">@ViewData["Title"]</div>
    <br />

    <div class="container">
        <p>
            @{
                var url = string.Format("/Identity/Account/Login?Culture={0}", Model.CurrentUICulture);
                var link = "<a href=\"" + url + "\">";
            }
            @localizer["Thank you for confirming your email. Please click {0}here{1} to log in", Html.Raw(link), Html.Raw("</a>")]
        </p>
    </div>

</div>

