@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Smeat.Leader.Web.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = localizer["Confirm email"];
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        @localizer["Thank you for confirming your email. Please click {0}here{1} to log in", Html.Raw("<a href=\"/Identity/Account/Login\">"), Html.Raw("</a>")]
    </p>
</div>


