@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password" + "?";
}

<div class="container account-login-container">
    <div class="title">@ViewData["Title"]</div>
    <br />

    <form method="post">
        <fieldset>
            <legend>@localizer["Enter your email"]</legend>
            <div asp-validation-summary="All" class="error-summary"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="error"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">@localizer["Submit"]</button>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

