@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = localizer["Forgot password confirmation"];
}

<div class="container">
    <div class="title">@ViewData["Title"]</div>
    <br />
    @localizer["Please check your email to reset your password"]

</div>

