@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Smeat.Leader.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = localizer["Logout"];
}

<div class="container">
    <div class="title">@ViewData["Title"]</div>
    <br />

    <div class="container">
        @localizer["You have successfully logged out of the application."]
    </div>

</div>
