@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @{
        var url = string.Format("/Identity/Account/Login?Culture={0}", Model.CurrentUICulture);
        var link = "<a href=\"" + url + "\">";
    }
    @localizer["Your password has been reset. Please {0}click here to log in{1}.", Html.Raw(link), Html.Raw("</a>")]
</p>
