<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Leader" connectionString="Data Source=HOME-DEV-PC\\SQL2016;Initial Catalog=Leader;Integrated Security=SSPI;MultipleActiveResultSets=true" />
    <add name="AuthData" connectionString="Data Source=HOME-DEV-PC\\SQL2016;Initial Catalog=Leader_Auth;Integrated Security=SSPI;MultipleActiveResultSets=true" />
  </connectionStrings>
</configuration>